[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
[alias]
  s = status -s
  br = branch
  co = checkout
  commit = commit -v
  cp = cherry-pick
  cleanlog = log --abbrev-commit --pretty=oneline
  cl = cleanlog -10
  aliases = config --get-regexp alias | sort
  unstage = reset HEAD
[credential]
  helper = osxkeychain
[core]
  excludesfile = ~/.gitignore
  editor = /usr/bin/vim
  pager = less -F -X
[color]
  ui = true
[push]
  default = simple
[merge]
  tool = opendiff
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
