[submodule "vim/janus.symlink/nerdtree-ack"]
	path = vim/janus.symlink/nerdtree-ack
	url = https://github.com/tyok/nerdtree-ack.git
[submodule "vim/janus.symlink/nerdtree-git-plugin"]
	path = vim/janus.symlink/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/janus.symlink/vim-jsx"]
	path = vim/janus.symlink/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/janus.symlink/vim-dispatch"]
	path = vim/janus.symlink/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/janus.symlink/vim-rubocop"]
	path = vim/janus.symlink/vim-rubocop
	url = https://github.com/ngmy/vim-rubocop.git
[submodule "vim/janus.symlink/vim-graphql"]
	path = vim/janus.symlink/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "vim/janus.symlink/QFGrep"]
	path = vim/janus.symlink/QFGrep
	url = https://github.com/sk1418/QFGrep.git
[submodule "vim/janus.symlink/far.vim"]
	path = vim/janus.symlink/far.vim
	url = https://github.com/brooth/far.vim.git
[submodule "vim/janus.symlink/fzf-mru.vim"]
	path = vim/janus.symlink/fzf-mru.vim
	url = https://github.com/pbogut/fzf-mru.vim.git
[submodule "vim/janus.symlink/fzf.vim"]
	path = vim/janus.symlink/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/janus.symlink/lightline.vim"]
	path = vim/janus.symlink/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/janus.symlink/onedark.vim"]
	path = vim/janus.symlink/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "vim/janus.symlink/vim-toggle-quickfix"]
	path = vim/janus.symlink/vim-toggle-quickfix
	url = git://github.com/drmingdrmer/vim-toggle-quickfix.git
[submodule "vim/janus.symlink/vim-windowswap"]
	path = vim/janus.symlink/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
[submodule "vim/janus.symlink/vim-rhubarb"]
	path = vim/janus.symlink/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "vim/janus.symlink/splitjoin.vim"]
	path = vim/janus.symlink/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "vim/janus.symlink/vim-abolish"]
	path = vim/janus.symlink/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/janus.symlink/vim-mustache-handlebars"]
	path = vim/janus.symlink/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim/janus.symlink/nerdcommenter"]
	path = vim/janus.symlink/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "vim/janus.symlink/syntastic"]
	path = vim/janus.symlink/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim/janus.symlink/--force"]
	path = vim/janus.symlink/--force
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/janus.symlink/typescript-vim"]
	path = vim/janus.symlink/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/janus.symlink/vim-ruby"]
	path = vim/janus.symlink/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim/janus.symlink/ale"]
	path = vim/janus.symlink/ale
	url = git@github.com:w0rp/ale.git
[submodule "vim/janus.symlink/auto-pairs"]
	path = vim/janus.symlink/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
